__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/

src/__pycache__/
src/data/__pycache__/
src/models/__pycache__/
src/utils/__pycache__/

src/results/
src/old_results/
src/old_results2/
src/output.log

src/datasets/cifar10/
src/datasets/*.npz
src/datasets/*.tar.gz

src/data/cifar-10-batches-py/
src/data/cifar-10-python.tar.gz

.git/
